body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../学科主页面_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:1px;
    top:58px;
    width:960px;
    height:132px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:138px;
}

.u1 {
    position:absolute;
    left:2px;
    top:58px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:1px;
    top:58px;
    width:960px;
    height:132px
}

.u2_original {
    background-image: url('../全局导航_files/u77_original.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:2px;
    width:180px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:180px;
    height:43px
}

.u4 {
    position:absolute;
    left:29px;
    top:5px;
    width:113px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:557px;
    top:23px;
    width:60px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_original {
    background-image: url('../全局导航_files/u81_original.png');
}

.u6_container {
    position:absolute;
    left:80px;
    top:42px;
    width:15px;
    height:5px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:11px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-6px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:80px;
    top:42px;
    width:15px;
    height:5px
}

.u8_original {
    background-image: url('../全局导航_files/u83_original.png');
}

.u8_container {
    position:absolute;
    left:752px;
    top:2px;
    width:210px;
    height:43px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:49px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:752px;
    top:2px;
    width:210px;
    height:43px
}

.u10 {
    position:absolute;
    left:808px;
    top:-8px;
    width:108px;
    height:65px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../全局导航_files/u86_line.png');
}

.u11_line {
    position:absolute;
    left:2px;
    top:45px;
    width:960px;
    height:5px;
}

.u11 {
    position:absolute;
    left:2px;
    top:45px;
    width:960px;
    height:5px
}

.u12 {
    position:absolute;
    left:682px;
    top:25px;
    width:30px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:625px;
    top:25px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:222px;
    top:6px;
    width:120px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_original {
    background-image: url('../学科主页面_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:752px;
    top:58px;
    width:210px;
    height:132px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:138px;
}

.u17 {
    position:absolute;
    left:2px;
    top:58px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:752px;
    top:58px;
    width:210px;
    height:132px
}

.u18 {
    position:absolute;
    left:150px;
    top:73px;
    width:110px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../学科主页面_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:856px;
    top:58px;
    width:3px;
    height:132px;
}

.u19 {
    position:absolute;
    left:856px;
    top:58px;
    width:3px;
    height:132px
}

.u20 {
    position:absolute;
    left:760px;
    top:94px;
    width:94px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:782px;
    top:137px;
    width:50px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:880px;
    top:94px;
    width:55px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:883px;
    top:137px;
    width:49px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../学科主页面_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:751px;
    top:232px;
    width:210px;
    height:328px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:334px;
}

.u25 {
    position:absolute;
    left:2px;
    top:156px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:751px;
    top:232px;
    width:210px;
    height:328px
}

.u26_original {
    background-image: url('../学科主页面_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:751px;
    top:202px;
    width:210px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:206px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:751px;
    top:202px;
    width:210px;
    height:30px
}

.u28 {
    position:absolute;
    left:900px;
    top:537px;
    width:61px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:758px;
    top:242px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../学科主页面_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:883px;
    top:242px;
    width:69px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:883px;
    top:242px;
    width:69px;
    height:20px
}

.u32 {
    position:absolute;
    left:758px;
    top:266px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../学科主页面_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:757px;
    top:286px;
    width:200px;
    height:3px;
}

.u33 {
    position:absolute;
    left:757px;
    top:286px;
    width:200px;
    height:3px
}

.u34 {
    position:absolute;
    left:758px;
    top:302px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_original {
    background-image: url('../学科主页面_files/u30_original.png');
}

.u35_container {
    position:absolute;
    left:883px;
    top:302px;
    width:69px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:883px;
    top:302px;
    width:69px;
    height:20px
}

.u37 {
    position:absolute;
    left:758px;
    top:326px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../学科主页面_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:757px;
    top:346px;
    width:200px;
    height:3px;
}

.u38 {
    position:absolute;
    left:757px;
    top:346px;
    width:200px;
    height:3px
}

.u39 {
    position:absolute;
    left:758px;
    top:362px;
    width:112px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../学科主页面_files/u30_original.png');
}

.u40_container {
    position:absolute;
    left:883px;
    top:362px;
    width:69px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:883px;
    top:362px;
    width:69px;
    height:20px
}

.u42 {
    position:absolute;
    left:758px;
    top:386px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../学科主页面_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:757px;
    top:406px;
    width:200px;
    height:3px;
}

.u43 {
    position:absolute;
    left:757px;
    top:406px;
    width:200px;
    height:3px
}

.u44 {
    position:absolute;
    left:758px;
    top:422px;
    width:112px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../学科主页面_files/u30_original.png');
}

.u45_container {
    position:absolute;
    left:883px;
    top:422px;
    width:69px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:883px;
    top:422px;
    width:69px;
    height:20px
}

.u47 {
    position:absolute;
    left:758px;
    top:446px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_line {
    background-image: url('../学科主页面_files/u48_line.png');
}

.u48_line {
    position:absolute;
    left:757px;
    top:466px;
    width:200px;
    height:3px;
}

.u48 {
    position:absolute;
    left:757px;
    top:466px;
    width:200px;
    height:3px
}

.u49 {
    position:absolute;
    left:758px;
    top:482px;
    width:122px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_original {
    background-image: url('../学科主页面_files/u30_original.png');
}

.u50_container {
    position:absolute;
    left:883px;
    top:482px;
    width:69px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:883px;
    top:482px;
    width:69px;
    height:20px
}

.u52 {
    position:absolute;
    left:758px;
    top:506px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_line {
    background-image: url('../学科主页面_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:757px;
    top:526px;
    width:200px;
    height:3px;
}

.u53 {
    position:absolute;
    left:757px;
    top:526px;
    width:200px;
    height:3px
}

.u54_original {
    background-image: url('../学科主页面_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:751px;
    top:600px;
    width:210px;
    height:150px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:156px;
}

.u55 {
    position:absolute;
    left:2px;
    top:67px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:751px;
    top:600px;
    width:210px;
    height:150px
}

.u56_original {
    background-image: url('../学科主页面_files/u26_original.png');
}

.u56_container {
    position:absolute;
    left:751px;
    top:570px;
    width:210px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:5px;
    width:206px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:751px;
    top:570px;
    width:210px;
    height:30px
}

.u58_original {
    background-image: url('../学科主页面_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:754px;
    top:601px;
    width:206px;
    height:148px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:206px;
    height:148px;
}

.u59 {
    position:absolute;
    left:2px;
    top:66px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:754px;
    top:601px;
    width:206px;
    height:148px
}

.u60_original {
    background-image: url('../学科主页面_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:4px;
    top:232px;
    width:730px;
    height:1150px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:736px;
    height:1156px;
}

.u61 {
    position:absolute;
    left:2px;
    top:567px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:4px;
    top:232px;
    width:730px;
    height:1150px
}

.u62_original {
    background-image: url('../考题广场独立考题_files/u128_original.png');
}

.u62_container {
    position:absolute;
    left:15px;
    top:254px;
    width:700px;
    height:210px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:216px;
}

.u63 {
    position:absolute;
    left:2px;
    top:97px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:15px;
    top:254px;
    width:700px;
    height:210px
}

.u64_line {
    background-image: url('../考题广场独立考题_files/u130_line.png');
}

.u64_line {
    position:absolute;
    left:24px;
    top:276px;
    width:681px;
    height:3px;
}

.u64 {
    position:absolute;
    left:24px;
    top:276px;
    width:681px;
    height:3px
}

.u65_original {
    background-image: url('../考题广场独立考题_files/u131_original.png');
}

.u65_container {
    position:absolute;
    left:16px;
    top:444px;
    width:699px;
    height:21px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:705px;
    height:27px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:695px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:444px;
    width:699px;
    height:21px
}

.u67 {
    position:absolute;
    left:186px;
    top:446px;
    width:430px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_original {
    background-image: url('../考题广场独立考题_files/u134_original.png');
}

.u68_container {
    position:absolute;
    left:621px;
    top:447px;
    width:77px;
    height:16px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:22px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-2px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:621px;
    top:447px;
    width:77px;
    height:16px
}

.u70 {
    position:absolute;
    left:25px;
    top:284px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:25px;
    top:400px;
    width:48px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:81px;
    top:400px;
    width:614px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../考题广场独立考题_files/u139_line.png');
}

.u73_line {
    position:absolute;
    left:69px;
    top:286px;
    width:3px;
    height:13px;
}

.u73 {
    position:absolute;
    left:69px;
    top:286px;
    width:3px;
    height:13px
}

.u74_line {
    background-image: url('../考题广场独立考题_files/u140_line.png');
}

.u74_line {
    position:absolute;
    left:68px;
    top:402px;
    width:3px;
    height:13px;
}

.u74 {
    position:absolute;
    left:68px;
    top:402px;
    width:3px;
    height:13px
}

.u75_line {
    background-image: url('../考题广场独立考题_files/u141_line.png');
}

.u75_line {
    position:absolute;
    left:23px;
    top:391px;
    width:682px;
    height:3px;
}

.u75 {
    position:absolute;
    left:23px;
    top:391px;
    width:682px;
    height:3px
}

.u76 {
    position:absolute;
    left:25px;
    top:260px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:648px;
    top:260px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:620px;
    top:260px;
    width:28px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_container {
    position:absolute;
    left:658px;
    top:284px;
    width:39px;
    height:40px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:40px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:658px;
    top:284px;
    width:39px;
    height:40px
}

.u81 {
    position:absolute;
    left:85px;
    top:284px;
    width:560px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_original {
    background-image: url('../学科主页面_files/u83_original.png');
}

.u83_container {
    position:absolute;
    left:15px;
    top:1350px;
    width:700px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:696px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:15px;
    top:1350px;
    width:700px;
    height:20px
}

.u85_original {
    background-image: url('../考题广场独立考题_files/u128_original.png');
}

.u85_container {
    position:absolute;
    left:15px;
    top:472px;
    width:700px;
    height:210px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:216px;
}

.u86 {
    position:absolute;
    left:2px;
    top:97px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:15px;
    top:472px;
    width:700px;
    height:210px
}

.u87_line {
    background-image: url('../考题广场独立考题_files/u130_line.png');
}

.u87_line {
    position:absolute;
    left:24px;
    top:494px;
    width:681px;
    height:3px;
}

.u87 {
    position:absolute;
    left:24px;
    top:494px;
    width:681px;
    height:3px
}

.u88_original {
    background-image: url('../考题广场独立考题_files/u131_original.png');
}

.u88_container {
    position:absolute;
    left:16px;
    top:662px;
    width:699px;
    height:21px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:705px;
    height:27px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:695px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:16px;
    top:662px;
    width:699px;
    height:21px
}

.u90 {
    position:absolute;
    left:186px;
    top:664px;
    width:430px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_original {
    background-image: url('../考题广场独立考题_files/u134_original.png');
}

.u91_container {
    position:absolute;
    left:621px;
    top:665px;
    width:77px;
    height:16px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:22px;
}

.u92 {
    position:absolute;
    left:2px;
    top:-2px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:621px;
    top:665px;
    width:77px;
    height:16px
}

.u93 {
    position:absolute;
    left:25px;
    top:502px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:25px;
    top:618px;
    width:48px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:81px;
    top:618px;
    width:614px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../考题广场独立考题_files/u139_line.png');
}

.u96_line {
    position:absolute;
    left:69px;
    top:504px;
    width:3px;
    height:13px;
}

.u96 {
    position:absolute;
    left:69px;
    top:504px;
    width:3px;
    height:13px
}

.u97_line {
    background-image: url('../考题广场独立考题_files/u140_line.png');
}

.u97_line {
    position:absolute;
    left:68px;
    top:620px;
    width:3px;
    height:13px;
}

.u97 {
    position:absolute;
    left:68px;
    top:620px;
    width:3px;
    height:13px
}

.u98_line {
    background-image: url('../考题广场独立考题_files/u141_line.png');
}

.u98_line {
    position:absolute;
    left:23px;
    top:609px;
    width:682px;
    height:3px;
}

.u98 {
    position:absolute;
    left:23px;
    top:609px;
    width:682px;
    height:3px
}

.u99 {
    position:absolute;
    left:25px;
    top:478px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:648px;
    top:478px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:620px;
    top:478px;
    width:28px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_container {
    position:absolute;
    left:658px;
    top:502px;
    width:39px;
    height:40px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:40px;
}

.u103 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:658px;
    top:502px;
    width:39px;
    height:40px
}

.u104 {
    position:absolute;
    left:85px;
    top:502px;
    width:560px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_original {
    background-image: url('../考题广场独立考题_files/u128_original.png');
}

.u106_container {
    position:absolute;
    left:15px;
    top:692px;
    width:700px;
    height:210px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:216px;
}

.u107 {
    position:absolute;
    left:2px;
    top:97px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:15px;
    top:692px;
    width:700px;
    height:210px
}

.u108_line {
    background-image: url('../考题广场独立考题_files/u130_line.png');
}

.u108_line {
    position:absolute;
    left:24px;
    top:714px;
    width:681px;
    height:3px;
}

.u108 {
    position:absolute;
    left:24px;
    top:714px;
    width:681px;
    height:3px
}

.u109_original {
    background-image: url('../考题广场独立考题_files/u131_original.png');
}

.u109_container {
    position:absolute;
    left:16px;
    top:882px;
    width:699px;
    height:21px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:705px;
    height:27px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:695px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:16px;
    top:882px;
    width:699px;
    height:21px
}

.u111 {
    position:absolute;
    left:186px;
    top:884px;
    width:430px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_original {
    background-image: url('../考题广场独立考题_files/u134_original.png');
}

.u112_container {
    position:absolute;
    left:621px;
    top:885px;
    width:77px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:22px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-2px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:621px;
    top:885px;
    width:77px;
    height:16px
}

.u114 {
    position:absolute;
    left:25px;
    top:722px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:25px;
    top:838px;
    width:48px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:81px;
    top:838px;
    width:614px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_line {
    background-image: url('../考题广场独立考题_files/u139_line.png');
}

.u117_line {
    position:absolute;
    left:69px;
    top:724px;
    width:3px;
    height:13px;
}

.u117 {
    position:absolute;
    left:69px;
    top:724px;
    width:3px;
    height:13px
}

.u118_line {
    background-image: url('../考题广场独立考题_files/u140_line.png');
}

.u118_line {
    position:absolute;
    left:68px;
    top:840px;
    width:3px;
    height:13px;
}

.u118 {
    position:absolute;
    left:68px;
    top:840px;
    width:3px;
    height:13px
}

.u119_line {
    background-image: url('../考题广场独立考题_files/u141_line.png');
}

.u119_line {
    position:absolute;
    left:23px;
    top:829px;
    width:682px;
    height:3px;
}

.u119 {
    position:absolute;
    left:23px;
    top:829px;
    width:682px;
    height:3px
}

.u120 {
    position:absolute;
    left:25px;
    top:698px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:648px;
    top:698px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:620px;
    top:698px;
    width:28px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_container {
    position:absolute;
    left:658px;
    top:722px;
    width:39px;
    height:40px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:40px;
}

.u124 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:658px;
    top:722px;
    width:39px;
    height:40px
}

.u125 {
    position:absolute;
    left:85px;
    top:722px;
    width:560px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_original {
    background-image: url('../考题广场独立考题_files/u128_original.png');
}

.u127_container {
    position:absolute;
    left:15px;
    top:911px;
    width:700px;
    height:210px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:216px;
}

.u128 {
    position:absolute;
    left:2px;
    top:97px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:15px;
    top:911px;
    width:700px;
    height:210px
}

.u129_line {
    background-image: url('../考题广场独立考题_files/u130_line.png');
}

.u129_line {
    position:absolute;
    left:24px;
    top:933px;
    width:681px;
    height:3px;
}

.u129 {
    position:absolute;
    left:24px;
    top:933px;
    width:681px;
    height:3px
}

.u130_original {
    background-image: url('../考题广场独立考题_files/u131_original.png');
}

.u130_container {
    position:absolute;
    left:16px;
    top:1101px;
    width:699px;
    height:21px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:705px;
    height:27px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:695px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:16px;
    top:1101px;
    width:699px;
    height:21px
}

.u132 {
    position:absolute;
    left:186px;
    top:1103px;
    width:430px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_original {
    background-image: url('../考题广场独立考题_files/u134_original.png');
}

.u133_container {
    position:absolute;
    left:621px;
    top:1104px;
    width:77px;
    height:16px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:22px;
}

.u134 {
    position:absolute;
    left:2px;
    top:-2px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:621px;
    top:1104px;
    width:77px;
    height:16px
}

.u135 {
    position:absolute;
    left:25px;
    top:941px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:25px;
    top:1057px;
    width:48px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:81px;
    top:1057px;
    width:614px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_line {
    background-image: url('../考题广场独立考题_files/u139_line.png');
}

.u138_line {
    position:absolute;
    left:69px;
    top:943px;
    width:3px;
    height:13px;
}

.u138 {
    position:absolute;
    left:69px;
    top:943px;
    width:3px;
    height:13px
}

.u139_line {
    background-image: url('../考题广场独立考题_files/u140_line.png');
}

.u139_line {
    position:absolute;
    left:68px;
    top:1059px;
    width:3px;
    height:13px;
}

.u139 {
    position:absolute;
    left:68px;
    top:1059px;
    width:3px;
    height:13px
}

.u140_line {
    background-image: url('../考题广场独立考题_files/u141_line.png');
}

.u140_line {
    position:absolute;
    left:23px;
    top:1048px;
    width:682px;
    height:3px;
}

.u140 {
    position:absolute;
    left:23px;
    top:1048px;
    width:682px;
    height:3px
}

.u141 {
    position:absolute;
    left:25px;
    top:917px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:648px;
    top:917px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:620px;
    top:917px;
    width:28px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_container {
    position:absolute;
    left:658px;
    top:941px;
    width:39px;
    height:40px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:40px;
}

.u145 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:658px;
    top:941px;
    width:39px;
    height:40px
}

.u146 {
    position:absolute;
    left:85px;
    top:941px;
    width:560px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_original {
    background-image: url('../考题广场独立考题_files/u128_original.png');
}

.u148_container {
    position:absolute;
    left:15px;
    top:1131px;
    width:700px;
    height:210px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:216px;
}

.u149 {
    position:absolute;
    left:2px;
    top:97px;
    width:696px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:15px;
    top:1131px;
    width:700px;
    height:210px
}

.u150_line {
    background-image: url('../考题广场独立考题_files/u130_line.png');
}

.u150_line {
    position:absolute;
    left:24px;
    top:1153px;
    width:681px;
    height:3px;
}

.u150 {
    position:absolute;
    left:24px;
    top:1153px;
    width:681px;
    height:3px
}

.u151_original {
    background-image: url('../考题广场独立考题_files/u131_original.png');
}

.u151_container {
    position:absolute;
    left:16px;
    top:1321px;
    width:699px;
    height:21px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:705px;
    height:27px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:695px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:16px;
    top:1321px;
    width:699px;
    height:21px
}

.u153 {
    position:absolute;
    left:186px;
    top:1323px;
    width:430px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_original {
    background-image: url('../考题广场独立考题_files/u134_original.png');
}

.u154_container {
    position:absolute;
    left:621px;
    top:1324px;
    width:77px;
    height:16px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:22px;
}

.u155 {
    position:absolute;
    left:2px;
    top:-2px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:621px;
    top:1324px;
    width:77px;
    height:16px
}

.u156 {
    position:absolute;
    left:25px;
    top:1161px;
    width:51px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:25px;
    top:1277px;
    width:48px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:81px;
    top:1277px;
    width:614px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_line {
    background-image: url('../考题广场独立考题_files/u139_line.png');
}

.u159_line {
    position:absolute;
    left:69px;
    top:1163px;
    width:3px;
    height:13px;
}

.u159 {
    position:absolute;
    left:69px;
    top:1163px;
    width:3px;
    height:13px
}

.u160_line {
    background-image: url('../考题广场独立考题_files/u140_line.png');
}

.u160_line {
    position:absolute;
    left:68px;
    top:1279px;
    width:3px;
    height:13px;
}

.u160 {
    position:absolute;
    left:68px;
    top:1279px;
    width:3px;
    height:13px
}

.u161_line {
    background-image: url('../考题广场独立考题_files/u141_line.png');
}

.u161_line {
    position:absolute;
    left:23px;
    top:1268px;
    width:682px;
    height:3px;
}

.u161 {
    position:absolute;
    left:23px;
    top:1268px;
    width:682px;
    height:3px
}

.u162 {
    position:absolute;
    left:25px;
    top:1137px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:648px;
    top:1137px;
    width:55px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:620px;
    top:1137px;
    width:28px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_container {
    position:absolute;
    left:658px;
    top:1161px;
    width:39px;
    height:40px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:40px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:658px;
    top:1161px;
    width:39px;
    height:40px
}

.u167 {
    position:absolute;
    left:85px;
    top:1161px;
    width:560px;
    height:102px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_original {
    background-image: url('../学科主页面_files/u169_original.png');
}

.u169_container {
    position:absolute;
    left:134px;
    top:202px;
    width:129px;
    height:30px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:36px;
}

.u170 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:134px;
    top:202px;
    width:129px;
    height:30px
}

.u171_original {
    background-image: url('../学科主页面_files/u171_original.png');
}

.u171_container {
    position:absolute;
    left:264px;
    top:201px;
    width:129px;
    height:30px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:36px;
}

.u172 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:264px;
    top:201px;
    width:129px;
    height:30px
}

.u173_original {
    background-image: url('../学科主页面_files/u171_original.png');
}

.u173_container {
    position:absolute;
    left:393px;
    top:201px;
    width:129px;
    height:30px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:36px;
}

.u174 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:393px;
    top:201px;
    width:129px;
    height:30px
}

.u175_original {
    background-image: url('../页尾_files/u100_original.png');
}

.u175_container {
    position:absolute;
    left:3px;
    top:1390px;
    width:730px;
    height:253px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:730px;
    height:253px;
}

.u176 {
    position:absolute;
    left:2px;
    top:118px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:3px;
    top:1390px;
    width:730px;
    height:253px
}

.u178_original {
    background-image: url('../学科主页面_files/u171_original.png');
}

.u178_container {
    position:absolute;
    left:5px;
    top:201px;
    width:129px;
    height:30px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:135px;
    height:36px;
}

.u179 {
    position:absolute;
    left:2px;
    top:6px;
    width:125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:5px;
    top:201px;
    width:129px;
    height:30px
}

.u180_original {
    background-image: url('../学科主页面_files/u180_original.png');
}

.u180_container {
    position:absolute;
    left:24px;
    top:71px;
    width:106px;
    height:106px;
}

#u180_img {
    position:absolute;
    left:0px;
    top:0px;
    width:106px;
    height:106px;
}

.u181 {
    position:absolute;
    left:2px;
    top:45px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:24px;
    top:71px;
    width:106px;
    height:106px
}

.u182_original {
    background-image: url('../学科主页面_files/u182_original.png');
}

.u182_container {
    position:absolute;
    left:213px;
    top:74px;
    width:89px;
    height:20px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:95px;
    height:26px;
}

.u183 {
    position:absolute;
    left:2px;
    top:0px;
    width:85px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:213px;
    top:74px;
    width:89px;
    height:20px
}

.u184 {
    position:absolute;
    left:149px;
    top:103px;
    width:581px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

