body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../个人信息_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:751px;
    top:59px;
    width:211px;
    height:140px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:146px;
}

.u1 {
    position:absolute;
    left:2px;
    top:62px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:751px;
    top:59px;
    width:211px;
    height:140px
}

.u2 {
    position:absolute;
    left:829px;
    top:73px;
    width:39px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_original {
    background-image: url('../个人信息_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:759px;
    top:67px;
    width:63px;
    height:65px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:71px;
}

.u4 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:759px;
    top:67px;
    width:63px;
    height:65px
}

.u5_container {
    position:absolute;
    left:762px;
    top:70px;
    width:58px;
    height:60px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:60px;
}

.u6 {
    position:absolute;
    left:2px;
    top:22px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:762px;
    top:70px;
    width:58px;
    height:60px
}

.u7 {
    position:absolute;
    left:761px;
    top:172px;
    width:33px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:817px;
    top:172px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:871px;
    top:172px;
    width:25px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:922px;
    top:172px;
    width:32px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:763px;
    top:148px;
    width:22px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:813px;
    top:148px;
    width:38px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:918px;
    top:148px;
    width:42px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:870px;
    top:148px;
    width:25px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:829px;
    top:105px;
    width:113px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../个人信息_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:757px;
    top:139px;
    width:200px;
    height:3px;
}

.u16 {
    position:absolute;
    left:757px;
    top:139px;
    width:200px;
    height:3px
}

.u17_line {
    background-image: url('../个人信息_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:799px;
    top:148px;
    width:3px;
    height:40px;
}

.u17 {
    position:absolute;
    left:799px;
    top:148px;
    width:3px;
    height:40px
}

.u18_line {
    background-image: url('../个人信息_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:857px;
    top:148px;
    width:3px;
    height:40px;
}

.u18 {
    position:absolute;
    left:857px;
    top:148px;
    width:3px;
    height:40px
}

.u19_line {
    background-image: url('../个人信息_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:908px;
    top:148px;
    width:3px;
    height:40px;
}

.u19 {
    position:absolute;
    left:908px;
    top:148px;
    width:3px;
    height:40px
}

.u21_original {
    background-image: url('../页尾_files/u100_original.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:990px;
    width:730px;
    height:253px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:730px;
    height:253px;
}

.u22 {
    position:absolute;
    left:2px;
    top:118px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:0px;
    top:990px;
    width:730px;
    height:253px
}

.u24_original {
    background-image: url('../出题_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:3px;
    top:60px;
    width:730px;
    height:923px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:736px;
    height:929px;
}

.u25 {
    position:absolute;
    left:2px;
    top:454px;
    width:726px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:3px;
    top:60px;
    width:730px;
    height:923px
}

.u26_original {
    background-image: url('../出题_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:540px;
    top:79px;
    width:169px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:6px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:540px;
    top:79px;
    width:169px;
    height:30px
}

.u28_original {
    background-image: url('../出题_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:540px;
    top:79px;
    width:10px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:540px;
    top:79px;
    width:10px;
    height:30px
}

.u30_original {
    background-image: url('../出题_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:368px;
    top:79px;
    width:169px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:368px;
    top:79px;
    width:169px;
    height:30px
}

.u32_original {
    background-image: url('../出题_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:537px;
    top:79px;
    width:10px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:537px;
    top:79px;
    width:10px;
    height:30px
}

.u34_original {
    background-image: url('../出题_files/u28_original.png');
}

.u34_container {
    position:absolute;
    left:368px;
    top:79px;
    width:10px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:368px;
    top:79px;
    width:10px;
    height:30px
}

.u36_original {
    background-image: url('../出题_files/u30_original.png');
}

.u36_container {
    position:absolute;
    left:196px;
    top:79px;
    width:169px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:196px;
    top:79px;
    width:169px;
    height:30px
}

.u38_original {
    background-image: url('../出题_files/u32_original.png');
}

.u38_container {
    position:absolute;
    left:365px;
    top:79px;
    width:10px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:365px;
    top:79px;
    width:10px;
    height:30px
}

.u40_original {
    background-image: url('../出题_files/u28_original.png');
}

.u40_container {
    position:absolute;
    left:196px;
    top:79px;
    width:10px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:196px;
    top:79px;
    width:10px;
    height:30px
}

.u42_original {
    background-image: url('../出题_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:22px;
    top:79px;
    width:170px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:166px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:22px;
    top:79px;
    width:170px;
    height:30px
}

.u44_original {
    background-image: url('../出题_files/u32_original.png');
}

.u44_container {
    position:absolute;
    left:193px;
    top:79px;
    width:10px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:7px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:193px;
    top:79px;
    width:10px;
    height:30px
}

.u46_line {
    background-image: url('../出题_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:40px;
    top:195px;
    width:670px;
    height:3px;
}

.u46 {
    position:absolute;
    left:40px;
    top:195px;
    width:670px;
    height:3px
}

.u47_line {
    background-image: url('../出题_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:96px;
    top:150px;
    width:3px;
    height:24px;
}

.u47 {
    position:absolute;
    left:96px;
    top:150px;
    width:3px;
    height:24px
}

.u48 {
    position:absolute;
    left:38px;
    top:150px;
    width:58px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:38px;
    top:233px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:20px;
    top:306px;
    width:80px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_line {
    background-image: url('../出题_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:96px;
    top:233px;
    width:3px;
    height:24px;
}

.u51 {
    position:absolute;
    left:96px;
    top:233px;
    width:3px;
    height:24px
}

.u52_line {
    background-image: url('../出题_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:96px;
    top:306px;
    width:3px;
    height:24px;
}

.u52 {
    position:absolute;
    left:96px;
    top:306px;
    width:3px;
    height:24px
}

.u53_line {
    background-image: url('../出题_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:37px;
    top:289px;
    width:670px;
    height:3px;
}

.u53 {
    position:absolute;
    left:37px;
    top:289px;
    width:670px;
    height:3px
}

.u54_line {
    background-image: url('../出题_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:40px;
    top:399px;
    width:670px;
    height:3px;
}

.u54 {
    position:absolute;
    left:40px;
    top:399px;
    width:670px;
    height:3px
}

.u55_original {
    background-image: url('../出题_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:172px;
    top:147px;
    width:130px;
    height:30px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:172px;
    top:147px;
    width:130px;
    height:30px
}

.u57_original {
    background-image: url('../出题_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:327px;
    top:147px;
    width:130px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:327px;
    top:147px;
    width:130px;
    height:30px
}

.u59_original {
    background-image: url('../出题_files/u57_original.png');
}

.u59_container {
    position:absolute;
    left:482px;
    top:147px;
    width:130px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:126px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:482px;
    top:147px;
    width:130px;
    height:30px
}

.u61_original {
    background-image: url('../出题_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:109px;
    top:230px;
    width:80px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:109px;
    top:230px;
    width:80px;
    height:30px
}

.u63_original {
    background-image: url('../出题_files/u61_original.png');
}

.u63_container {
    position:absolute;
    left:209px;
    top:230px;
    width:80px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:209px;
    top:230px;
    width:80px;
    height:30px
}

.u65_original {
    background-image: url('../出题_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:309px;
    top:230px;
    width:80px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:309px;
    top:230px;
    width:80px;
    height:30px
}

.u67_original {
    background-image: url('../出题_files/u61_original.png');
}

.u67_container {
    position:absolute;
    left:410px;
    top:230px;
    width:80px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:410px;
    top:230px;
    width:80px;
    height:30px
}

.u69_original {
    background-image: url('../出题_files/u61_original.png');
}

.u69_container {
    position:absolute;
    left:510px;
    top:230px;
    width:80px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:510px;
    top:230px;
    width:80px;
    height:30px
}

.u71_original {
    background-image: url('../出题_files/u61_original.png');
}

.u71_container {
    position:absolute;
    left:610px;
    top:230px;
    width:80px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:610px;
    top:230px;
    width:80px;
    height:30px
}

.u73_original {
    background-image: url('../出题_files/u65_original.png');
}

.u73_container {
    position:absolute;
    left:110px;
    top:303px;
    width:80px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:110px;
    top:303px;
    width:80px;
    height:30px
}

.u75_original {
    background-image: url('../出题_files/u61_original.png');
}

.u75_container {
    position:absolute;
    left:210px;
    top:303px;
    width:80px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:210px;
    top:303px;
    width:80px;
    height:30px
}

.u77_original {
    background-image: url('../出题_files/u61_original.png');
}

.u77_container {
    position:absolute;
    left:310px;
    top:303px;
    width:80px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:310px;
    top:303px;
    width:80px;
    height:30px
}

.u79_original {
    background-image: url('../出题_files/u61_original.png');
}

.u79_container {
    position:absolute;
    left:411px;
    top:303px;
    width:80px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:411px;
    top:303px;
    width:80px;
    height:30px
}

.u81_original {
    background-image: url('../出题_files/u61_original.png');
}

.u81_container {
    position:absolute;
    left:511px;
    top:303px;
    width:80px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:511px;
    top:303px;
    width:80px;
    height:30px
}

.u83_original {
    background-image: url('../出题_files/u61_original.png');
}

.u83_container {
    position:absolute;
    left:110px;
    top:355px;
    width:80px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:110px;
    top:355px;
    width:80px;
    height:30px
}

.u85_original {
    background-image: url('../出题_files/u61_original.png');
}

.u85_container {
    position:absolute;
    left:210px;
    top:355px;
    width:80px;
    height:30px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u86 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:210px;
    top:355px;
    width:80px;
    height:30px
}

.u87_original {
    background-image: url('../出题_files/u61_original.png');
}

.u87_container {
    position:absolute;
    left:611px;
    top:303px;
    width:80px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:611px;
    top:303px;
    width:80px;
    height:30px
}

.u89 {
    position:absolute;
    left:38px;
    top:423px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../出题_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:96px;
    top:423px;
    width:3px;
    height:24px;
}

.u90 {
    position:absolute;
    left:96px;
    top:423px;
    width:3px;
    height:24px
}

.u91 {
    position:absolute;
    left:38px;
    top:473px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_line {
    background-image: url('../出题_files/u92_line.png');
}

.u92_line {
    position:absolute;
    left:96px;
    top:473px;
    width:3px;
    height:24px;
}

.u92 {
    position:absolute;
    left:96px;
    top:473px;
    width:3px;
    height:24px
}

.u93 {
    position:absolute;
    left:38px;
    top:646px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../出题_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:96px;
    top:646px;
    width:3px;
    height:24px;
}

.u94 {
    position:absolute;
    left:96px;
    top:646px;
    width:3px;
    height:24px
}

.u95 {
    position:absolute;
    left:38px;
    top:777px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_line {
    background-image: url('../出题_files/u96_line.png');
}

.u96_line {
    position:absolute;
    left:96px;
    top:777px;
    width:3px;
    height:24px;
}

.u96 {
    position:absolute;
    left:96px;
    top:777px;
    width:3px;
    height:24px
}

.u97 {
    position:absolute;
    left:38px;
    top:827px;
    width:60px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../出题_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:96px;
    top:827px;
    width:3px;
    height:24px;
}

.u98 {
    position:absolute;
    left:96px;
    top:827px;
    width:3px;
    height:24px
}

.u100 {
    position:absolute;
    left:16px;
    top:0px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:16px;
    top:0px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_original {
    background-image: url('../出题_files/u107_original.png');
}

.u107_container {
    position:absolute;
    left:108px;
    top:646px;
    width:482px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:108px;
    top:646px;
    width:482px;
    height:20px
}

.u109_original {
    background-image: url('../出题_files/u107_original.png');
}

.u109_container {
    position:absolute;
    left:108px;
    top:674px;
    width:482px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:108px;
    top:674px;
    width:482px;
    height:20px
}

.u111_original {
    background-image: url('../出题_files/u111_original.png');
}

.u111_container {
    position:absolute;
    left:108px;
    top:646px;
    width:11px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:108px;
    top:646px;
    width:11px;
    height:20px
}

.u113_original {
    background-image: url('../出题_files/u111_original.png');
}

.u113_container {
    position:absolute;
    left:108px;
    top:674px;
    width:11px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:108px;
    top:674px;
    width:11px;
    height:20px
}

.u115_original {
    background-image: url('../出题_files/u107_original.png');
}

.u115_container {
    position:absolute;
    left:108px;
    top:703px;
    width:482px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:108px;
    top:703px;
    width:482px;
    height:20px
}

.u117_original {
    background-image: url('../出题_files/u111_original.png');
}

.u117_container {
    position:absolute;
    left:108px;
    top:703px;
    width:11px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:108px;
    top:703px;
    width:11px;
    height:20px
}

.u119_original {
    background-image: url('../出题_files/u107_original.png');
}

.u119_container {
    position:absolute;
    left:108px;
    top:731px;
    width:482px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:488px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:478px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:108px;
    top:731px;
    width:482px;
    height:20px
}

.u121_original {
    background-image: url('../出题_files/u111_original.png');
}

.u121_container {
    position:absolute;
    left:108px;
    top:731px;
    width:11px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:0px;
    width:7px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:108px;
    top:731px;
    width:11px;
    height:20px
}

.u123_original {
    background-image: url('../出题_files/u123_original.png');
}

.u123_container {
    position:absolute;
    left:591px;
    top:731px;
    width:21px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:591px;
    top:731px;
    width:21px;
    height:20px
}

.u125_line {
    background-image: url('../出题_files/u125_line.png');
}

.u125_line {
    position:absolute;
    left:594px;
    top:740px;
    width:15px;
    height:5px;
}

.u125 {
    position:absolute;
    left:594px;
    top:740px;
    width:15px;
    height:5px
}

.u126_original {
    background-image: url('../出题_files/u126_original.png');
}

.u126_container {
    position:absolute;
    left:590px;
    top:646px;
    width:40px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:590px;
    top:646px;
    width:40px;
    height:20px
}

.u128_line {
    background-image: url('../出题_files/u128_line.png');
}

.u128_line {
    position:absolute;
    left:600px;
    top:734px;
    width:5px;
    height:15px;
}

.u128 {
    position:absolute;
    left:600px;
    top:734px;
    width:5px;
    height:15px
}

.u129_line {
    background-image: url('../出题_files/u129_line.png');
}

.u129_line {
    position:absolute;
    left:603px;
    top:654px;
    width:15px;
    height:5px;
}

.u129 {
    position:absolute;
    left:603px;
    top:654px;
    width:15px;
    height:5px
}

.u130_original {
    background-image: url('../出题_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:612px;
    top:731px;
    width:20px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:612px;
    top:731px;
    width:20px;
    height:20px
}

.u132_line {
    background-image: url('../出题_files/u132_line.png');
}

.u132_line {
    position:absolute;
    left:615px;
    top:740px;
    width:15px;
    height:5px;
}

.u132 {
    position:absolute;
    left:615px;
    top:740px;
    width:15px;
    height:5px
}

.u133_original {
    background-image: url('../出题_files/u126_original.png');
}

.u133_container {
    position:absolute;
    left:591px;
    top:674px;
    width:40px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:591px;
    top:674px;
    width:40px;
    height:20px
}

.u135_line {
    background-image: url('../出题_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:604px;
    top:681px;
    width:15px;
    height:5px;
}

.u135 {
    position:absolute;
    left:604px;
    top:681px;
    width:15px;
    height:5px
}

.u136_original {
    background-image: url('../出题_files/u126_original.png');
}

.u136_container {
    position:absolute;
    left:591px;
    top:703px;
    width:40px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:26px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:591px;
    top:703px;
    width:40px;
    height:20px
}

.u138_line {
    background-image: url('../出题_files/u138_line.png');
}

.u138_line {
    position:absolute;
    left:604px;
    top:711px;
    width:15px;
    height:5px;
}

.u138 {
    position:absolute;
    left:604px;
    top:711px;
    width:15px;
    height:5px
}

.u139 {
    position:absolute;
    left:110px;
    top:778px;
    width:80px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140_original {
    background-image: url('../出题_files/u140_original.png');
}

.u140_container {
    position:absolute;
    left:110px;
    top:827px;
    width:520px;
    height:90px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:526px;
    height:96px;
}

.u141 {
    position:absolute;
    left:2px;
    top:37px;
    width:516px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:110px;
    top:827px;
    width:520px;
    height:90px
}

.u142_original {
    background-image: url('../出题_files/u142_original.png');
}

.u142_container {
    position:absolute;
    left:270px;
    top:933px;
    width:160px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:3px;
    width:156px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:270px;
    top:933px;
    width:160px;
    height:30px
}

.u144 {
    position:absolute;
    left:115px;
    top:829px;
    width:510px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_original {
    background-image: url('../出题_files/u149_original.png');
}

.u149_container {
    position:absolute;
    left:109px;
    top:473px;
    width:600px;
    height:148px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:600px;
    height:148px;
}

.u150 {
    position:absolute;
    left:2px;
    top:66px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:109px;
    top:473px;
    width:600px;
    height:148px
}

.u152_original {
    background-image: url('../全局导航_files/u77_original.png');
}

.u152_container {
    position:absolute;
    left:2px;
    top:1px;
    width:180px;
    height:43px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:49px;
}

.u153 {
    position:absolute;
    left:2px;
    top:14px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:2px;
    top:1px;
    width:180px;
    height:43px
}

.u154 {
    position:absolute;
    left:29px;
    top:4px;
    width:113px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:557px;
    top:22px;
    width:60px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_original {
    background-image: url('../全局导航_files/u81_original.png');
}

.u156_container {
    position:absolute;
    left:80px;
    top:41px;
    width:15px;
    height:5px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:11px;
}

.u157 {
    position:absolute;
    left:2px;
    top:-6px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:80px;
    top:41px;
    width:15px;
    height:5px
}

.u158_original {
    background-image: url('../全局导航_files/u83_original.png');
}

.u158_container {
    position:absolute;
    left:752px;
    top:1px;
    width:210px;
    height:43px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:49px;
}

.u159 {
    position:absolute;
    left:2px;
    top:14px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:752px;
    top:1px;
    width:210px;
    height:43px
}

.u160 {
    position:absolute;
    left:808px;
    top:-9px;
    width:108px;
    height:65px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_line {
    background-image: url('../全局导航_files/u86_line.png');
}

.u161_line {
    position:absolute;
    left:2px;
    top:44px;
    width:960px;
    height:5px;
}

.u161 {
    position:absolute;
    left:2px;
    top:44px;
    width:960px;
    height:5px
}

.u162 {
    position:absolute;
    left:682px;
    top:24px;
    width:30px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:625px;
    top:24px;
    width:50px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:222px;
    top:5px;
    width:120px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_original {
    background-image: url('../你可能感兴趣的同学_files/u21_original.png');
}

.u166_container {
    position:absolute;
    left:751px;
    top:244px;
    width:210px;
    height:436px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:442px;
}

.u167 {
    position:absolute;
    left:2px;
    top:210px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:751px;
    top:244px;
    width:210px;
    height:436px
}

.u168_original {
    background-image: url('../你可能感兴趣的同学_files/u23_original.png');
}

.u168_container {
    position:absolute;
    left:751px;
    top:210px;
    width:210px;
    height:34px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:40px;
}

.u169 {
    position:absolute;
    left:2px;
    top:8px;
    width:206px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:751px;
    top:210px;
    width:210px;
    height:34px
}

.u170 {
    position:absolute;
    left:904px;
    top:659px;
    width:60px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:811px;
    top:280px;
    width:95px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_original {
    background-image: url('../你可能感兴趣的同学_files/u27_original.png');
}

.u172_container {
    position:absolute;
    left:811px;
    top:299px;
    width:49px;
    height:20px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:26px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:811px;
    top:299px;
    width:49px;
    height:20px
}

.u174 {
    position:absolute;
    left:873px;
    top:301px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:811px;
    top:247px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_original {
    background-image: url('../你可能感兴趣的同学_files/u31_original.png');
}

.u176_container {
    position:absolute;
    left:756px;
    top:253px;
    width:51px;
    height:50px;
}

#u176_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u177 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:756px;
    top:253px;
    width:51px;
    height:50px
}

.u178_original {
    background-image: url('../你可能感兴趣的同学_files/u33_original.png');
}

.u178_container {
    position:absolute;
    left:756px;
    top:303px;
    width:50px;
    height:13px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:19px;
}

.u179 {
    position:absolute;
    left:2px;
    top:-2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:756px;
    top:303px;
    width:50px;
    height:13px
}

.u180 {
    position:absolute;
    left:811px;
    top:361px;
    width:95px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_original {
    background-image: url('../你可能感兴趣的同学_files/u27_original.png');
}

.u181_container {
    position:absolute;
    left:811px;
    top:380px;
    width:49px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:26px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:811px;
    top:380px;
    width:49px;
    height:20px
}

.u183 {
    position:absolute;
    left:873px;
    top:382px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:811px;
    top:328px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_original {
    background-image: url('../你可能感兴趣的同学_files/u31_original.png');
}

.u185_container {
    position:absolute;
    left:756px;
    top:334px;
    width:51px;
    height:50px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u186 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:756px;
    top:334px;
    width:51px;
    height:50px
}

.u187_original {
    background-image: url('../你可能感兴趣的同学_files/u33_original.png');
}

.u187_container {
    position:absolute;
    left:756px;
    top:384px;
    width:50px;
    height:13px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:19px;
}

.u188 {
    position:absolute;
    left:2px;
    top:-2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:756px;
    top:384px;
    width:50px;
    height:13px
}

.u189 {
    position:absolute;
    left:811px;
    top:442px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_original {
    background-image: url('../你可能感兴趣的同学_files/u27_original.png');
}

.u190_container {
    position:absolute;
    left:811px;
    top:461px;
    width:49px;
    height:20px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:26px;
}

.u191 {
    position:absolute;
    left:2px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:811px;
    top:461px;
    width:49px;
    height:20px
}

.u192 {
    position:absolute;
    left:873px;
    top:463px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:811px;
    top:409px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_original {
    background-image: url('../你可能感兴趣的同学_files/u31_original.png');
}

.u194_container {
    position:absolute;
    left:756px;
    top:415px;
    width:51px;
    height:50px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u195 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:756px;
    top:415px;
    width:51px;
    height:50px
}

.u196_original {
    background-image: url('../你可能感兴趣的同学_files/u33_original.png');
}

.u196_container {
    position:absolute;
    left:756px;
    top:465px;
    width:50px;
    height:13px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:19px;
}

.u197 {
    position:absolute;
    left:2px;
    top:-2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:756px;
    top:465px;
    width:50px;
    height:13px
}

.u198 {
    position:absolute;
    left:811px;
    top:524px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_original {
    background-image: url('../你可能感兴趣的同学_files/u27_original.png');
}

.u199_container {
    position:absolute;
    left:811px;
    top:543px;
    width:49px;
    height:20px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:26px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:811px;
    top:543px;
    width:49px;
    height:20px
}

.u201 {
    position:absolute;
    left:873px;
    top:545px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:811px;
    top:491px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_original {
    background-image: url('../你可能感兴趣的同学_files/u31_original.png');
}

.u203_container {
    position:absolute;
    left:756px;
    top:497px;
    width:51px;
    height:50px;
}

#u203_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u204 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203 {
    position:absolute;
    left:756px;
    top:497px;
    width:51px;
    height:50px
}

.u205_original {
    background-image: url('../你可能感兴趣的同学_files/u33_original.png');
}

.u205_container {
    position:absolute;
    left:756px;
    top:547px;
    width:50px;
    height:13px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:19px;
}

.u206 {
    position:absolute;
    left:2px;
    top:-2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:756px;
    top:547px;
    width:50px;
    height:13px
}

.u207 {
    position:absolute;
    left:811px;
    top:605px;
    width:140px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_original {
    background-image: url('../你可能感兴趣的同学_files/u27_original.png');
}

.u208_container {
    position:absolute;
    left:811px;
    top:624px;
    width:49px;
    height:20px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:26px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:811px;
    top:624px;
    width:49px;
    height:20px
}

.u210 {
    position:absolute;
    left:873px;
    top:626px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:811px;
    top:572px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_original {
    background-image: url('../你可能感兴趣的同学_files/u31_original.png');
}

.u212_container {
    position:absolute;
    left:756px;
    top:578px;
    width:51px;
    height:50px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:50px;
}

.u213 {
    position:absolute;
    left:2px;
    top:17px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:756px;
    top:578px;
    width:51px;
    height:50px
}

.u214_original {
    background-image: url('../你可能感兴趣的同学_files/u33_original.png');
}

.u214_container {
    position:absolute;
    left:756px;
    top:628px;
    width:50px;
    height:13px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:19px;
}

.u215 {
    position:absolute;
    left:2px;
    top:-2px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:756px;
    top:628px;
    width:50px;
    height:13px
}

.u216_line {
    background-image: url('../你可能感兴趣的同学_files/u71_line.png');
}

.u216_line {
    position:absolute;
    left:757px;
    top:324px;
    width:200px;
    height:3px;
}

.u216 {
    position:absolute;
    left:757px;
    top:324px;
    width:200px;
    height:3px
}

.u217_line {
    background-image: url('../你可能感兴趣的同学_files/u72_line.png');
}

.u217_line {
    position:absolute;
    left:757px;
    top:404px;
    width:200px;
    height:3px;
}

.u217 {
    position:absolute;
    left:757px;
    top:404px;
    width:200px;
    height:3px
}

.u218_line {
    background-image: url('../你可能感兴趣的同学_files/u73_line.png');
}

.u218_line {
    position:absolute;
    left:757px;
    top:484px;
    width:200px;
    height:3px;
}

.u218 {
    position:absolute;
    left:757px;
    top:484px;
    width:200px;
    height:3px
}

.u219_line {
    background-image: url('../你可能感兴趣的同学_files/u74_line.png');
}

.u219_line {
    position:absolute;
    left:757px;
    top:567px;
    width:200px;
    height:3px;
}

.u219 {
    position:absolute;
    left:757px;
    top:567px;
    width:200px;
    height:3px
}

.u220_line {
    background-image: url('../你可能感兴趣的同学_files/u75_line.png');
}

.u220_line {
    position:absolute;
    left:757px;
    top:648px;
    width:200px;
    height:3px;
}

.u220 {
    position:absolute;
    left:757px;
    top:648px;
    width:200px;
    height:3px
}

