<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post,:id=>"user_new"} do |f| %>
    <div class="page">
      <div class="for_box">
        <div class="for_logo"><img src="../../assets/l_03.jpg" border="0"/></div>
        <div class="for_wj">
          <div class="for_t">邀请好友注册</div>
          <div class="for_n">
            <ul class="for_tm clearfix">
              <li>好友邮箱:</li>
              <li>
                <%= f.text_field :email, :class => "for_em",:id => "invitation_user_email" %>
                <%= f.hidden_field :inviter,:value=>current_user_name %>

              </li>
              <li><input type="button" class="for_btn03" onclick="btn_submit()" name=""/></li>
              <li><h3><a href="/">返回首页</a></h3></li>
            </ul>
          </div>
          <div class="error"><%= local_devise_error_messages! %> </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    $(function () {
        $("#user_new").validate({
            rules:{
                "user[email]":{required:true, email:true}
            }
        })
    })

    function btn_submit() {
        $('#user_new').submit();
    }
</script>