<p>您好, <%= @resource.email %>!</p>

解惑100已经收到了你的密码重置请求，请您点击此链接重置密码:
<p><%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token).to_s, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>





