<ul class="an_checklist">
  <li class="an_own"><input type="radio" name="answer[result]" class="an_checkbox" value="对"/>对</li>
  <li class="an_own"><input type="radio" name="answer[result]" class="an_checkbox"value="错"/>错</li>
</ul>